We want to promote events that directly bring new contributors into free 
software, or teach background needed to participate in free software projects.
You can read more about our
<a href="http://openhatch.org/wiki/Calendar_events">events policy</a>.
