<div class='copy_block'>
  <h1><a name='about'>About us</a></h1>
  <h2>What</h2>

  <p>OpenHatch Events is a place for people interested in open source to post and find out about online and in-person events that welcome new contributors.</p>

  <h2>Why</h2>

  <p>We believe in the power of feeling <em>welcome</em>. Our events calendar aims to help
    people find the communities they care about and learn the skills they need to
    participate. If you're not sure how to participate in a project, try attending
    an event and seeing if you find some people you like.</p>

  <h2>Who</h2>

  <p>You can find out more about OpenHatch at the <a href='https://openhatch.org/'>main page</a>. Here is our mission statement:</p>

  <blockquote>
    <p>Free, open source software <strong>loses tons of prospective contributors</strong> because it is difficult to learn how and where you can fit in.</p>

    <p>OpenHatch is an open source community aiming to help <strong>newcomers find their way</strong> into free software projects.<br />
      We work toward this goal through this website and outreach events.
    </p>
  </blockquote>

  <p>We are a welcoming, active open source community, and you can
    easily <a href="https://openhatch.org/contact/">contact us</a>. Contributors to
    the OpenHatch calendar so far include:</p>

  <ul>
    <li>Chris Sims</li>
    <li>Asheesh Laroia</li>
    <li>The Calagator team</li>
  </ul>

  <h1>Getting started</h1>
    <h2><a name='find_local_events'>Find events</a></h2>
    <h3>Browse</h3>
    <ul>
      <li><a href='http://events.openhatch.org/'>Browse an overview</a> of events for the next two weeks.</li>
      <li><a href='http://events.openhatch.org/events'>Browse events</a> in the future and past, and filter by date.</li>
      <li><a href='http://events.openhatch.org/venues'>Browse venues</a> and view future events occurring at each venue.</li>
    </ul>

    <h3>Search</h3>
    <ul>
      <li><strong>Search</strong> for events at the top of each page.</li>
    </ul>

    <h3>Subscribe or export</h3>
    <ul>
      <li><strong>Subscribe</strong> to a list of events with your favorite calendar or feed reader.</li>
      <li><strong>Export</strong> a single event to your favorite calendar.</li>
    </ul>

    <h2><a name='share_local_events'>Share events</a></h2>

    <ul>
      <li><a href='http://events.openhatch.org/events/new'>Add</a> an event by entering its details.</li>
      <li><a href='http://events.openhatch.org/sources/new/'>Import</a> event(s) by entering a URL to a feed or webpage, or via a bookmarklet.</li>
      <li><strong>Improve</strong> content by editing events and venues.</li>
    </ul>
  
  <h1><a name='get_involved'>Get involved</a></h1>
  <p>Anyone can participate. There are no entrance requirements other than interest and enthusiasm for the project goals.</p>

    <h3>Step 1: Sign up for the <a href="http://lists.openhatch.org/mailman/listinfo/events">OpenHatch events mailing list</a>.</h3>

    <h3>Step 2: Sign up for the <a href='http://openhatch.org/blog/' title="OpenHatch blog">blog</a>.</h3>
  
    <h3>Step 3: Contribute!</h3>
    <h4>Use the site.</h4>
    <ul>
      <li><a href='#find_local_events'>Learn about</a> and <a href='#share_local_events'>share events</a>.</li>
      <li>Spread the word! (<a href='http://twitter.com'>twitter</a>, your own blog, direct people to the events that you added above).</li>
    </ul>
  
    <h4>Help garden the site.</h4>
    <ul>
      <li>Help us remove <a href='/events/duplicates'>duplicate events</a> and <a href='/venues/duplicates'>duplicate venues</a>.</li>
      <li>Add details to existing events and venues.</li>
      <li>Correct missing venues and incomplete venue addresses.</li>
    </ul>

    <h4>File bugs and grab the code</h4>

    <p>You can <a href="https://openhatch.org/bugs/">file bugs against in the OpenHatch bug tracker</a>. The code is <a href="https://github.com/jcsims/calagator">on Github</a>.</p>
    <ul>

    <h4>Help the developers of calagator, which we use.</h4>

    <p>This site runs the lovely <a href="http://calagator.org/">calagator software</a>; it is really their code plus a custom theme. Here's how you can work with them:</p>
    <ul>
      <li>File <a href='http://code.google.com/p/calagator/issues/list'>bug reports</a>.</li>
      <li>Verify <a href='http://code.google.com/p/calagator/issues/list'>bug reports</a>.</li>
    </ul>

    <h4>Contribute code upstream</h4>
    <p>Calagator is a <a href='http://rubyonrails.org/'>Ruby on Rails</a> web application that runs well on UNIX, Mac and Windows. You can find more details on downloading the source and running it at our <a href='http://code.google.com/p/calagator/wiki/DevelopmentSoftware'>Google Code Page</a>.</p>
</div>
